.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-inter);
  font-variation-settings: 'wght'410;
  background-image: var(--gradient-bg-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  inline-size: var(--size-inline-block);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid #000;
  background-color: #fff;
  font-family: var(--font-family-press);
  margin-block: 100px clamp(97px, 106.83px + -1.02vw, 100px);
  margin-inline: var(--margin-inline-block);
  padding-block: clamp(120px, 96.90px + 3.45vw, 130px);
}

.header_title {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.header_paragraph {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card {
  inline-size: var(--size-inline-block);
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  background-color: #fff;
  margin-inline: var(--margin-inline-block);
}

.card_title {
  font-variation-settings: 'wght'var(--font-weight-header-card);
  font-size: 18px;
  padding: 4px 10px;
}

.card_block__image {
  position: relative;
  inline-size: 100%;
  block-size: clamp(375px, -364.85px + 110.92vw, 700px);
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
  overflow: hidden;
}

.label_image {
  position: absolute;
  z-index: 1;
  font-family: var(--font-family-press);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  top: 27px;
  right: 25px;
  text-shadow:
    -1px 0 var(--color-stroke),
    0 1px var(--color-stroke),
    1px 0 var(--color-stroke),
    0 -1px var(--color-stroke);
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .label_image {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card_image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
}

.filter_two_image {
  filter: contrast(2) brightness(0.9) saturate(0.5);
}

.filter_tree_image {
  filter: saturate(4);
}

.filter_four_image {
  filter: hue-rotate(30deg);
}

.filter_five_image {
  filter: invert(0.8);
}

.filter_six_image {
  filter: sepia(1);
}

.filter_seven_image {
  filter: blur(0.6rem);
}

.filter_eight_image {
  filter: contrast(4) saturate(5);
}

.card_content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 24px 25px 0;
  font-variation-settings: 'wght'410;
  font-size: 18px;
  line-height: 21px;
}

.card_block__buttons {
  align-self: end;
  display: flex;
  gap: 7px;
  margin-block: 25px 27px;
  margin-inline-end: 25px;
}

.card__icon-button {
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: none;
  padding: 0;
  transition: border 3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid #000;
  transition: border 3s ease;
}

.button {
  position: relative;
  z-index: 0;
  background-color: #fff;
  border: 2px solid #000;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.card_button {
  width: 130px;
  height: 38px;
  padding-block: 12.5px;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px #000;
  transition: box-shadow 0.3s ease;
}

.decorate::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: #000;
  top: 0;
  right: 0;
  transform: translate(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover .decorate::after {
  transform: translate(0);
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--font-family-press);
  font-variation-settings: 'wght'400;
  font-size: 14px;
  text-align: center;
  color: var(--color-text-animation);
  mix-blend-mode: difference;
}

.button_save {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  block-size: clamp(55px, 150.02px + -9.90vw, 84px);
  inline-size: clamp(306px, 297.21px + 2.62vw, 335px);
  margin-block-end: 100px;
}

.floppy_button_save {
  position: relative;
  z-index: 1;
  width: 21px;
  color: var(--color-text-animation);
  mix-blend-mode: difference;
}

.modal_window[open] {
  display: block;
}

.modal_window {
  position: fixed;
  inset: 0;
  width: clamp(341px, 336.77px + 1.13vw, 353px);
  padding: 30px 0;
  border: 2px solid #000;
}

.modal_window::backdrop {
  background-color: rgb(0 0 0 / 0.6);
}

.dialog_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.dialog_container__block {
  display: flex;
  gap: 20px;
  margin-inline: 30px;
}

.floppy_dialog_container {
  flex-shrink: 0;
  width: 39px;
}

.dialog_container__text {
  font-family: var(--font-family-press);
  font-variation-settings: 'wght'400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.button_close {
  width: 293px;
  height: 38px;
  padding-block: 12.5px;
}

.like-icon:hover .core {
  fill: black;
  opacity: 1;
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: #FF0000;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  --animation-fill-color: black;
  fill: var(--animation-fill-color);
  opacity: 1;
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .main-body {
  --animation-fill-color: #FF0000;
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .contour {
  --color-contour-heart: #FF0000;
  fill: var(--color-contour-heart);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: pulse 0.3s 0.1s ease-in 1;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: sparks 0.3s 0.3s ease-in 1;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  opacity: 0;
  transition: opacity 0.3s linear;
}

.core {
  opacity: 0;
  transition: opacity 0.3s 0.03s linear;
}

.sparks {
  opacity: 0;
}

@media (width <=375px) {
  .header {
    inline-size: clamp(320px, 100.00vw, 375px);
  }

  .header_title {
    font-size: clamp(2.5rem, -0.7727rem + 16.3636vw, 3.0625rem);
  }

  .card {
    inline-size: clamp(320px, 100.00vw, 375px);
  }

  .card_title {
    padding: 5px 10px;
  }

  .card_content {
    margin: 24px 26px 0;
  }

  .card_block__buttons {
    margin-block-end: 25px;
  }

  .card_button {
    padding-block: 10px;
  }

  .button_save {
    flex-direction: column;
  }

  .floppy_button_save {
    width: 28px;
  }
}